asgiref==3.12.1
Django==4.2.30
django-debug-toolbar==4.4.6
psycopg==3.2.13
psycopg-binary==3.2.13
python-decouple==3.8
sqlparse==0.5.5
typing_extensions==4.16.0
Pillow==11.3.0
Faker==35.2.2 
requests==2.34.2